# Core
streamlit

# Data
pandas
numpy

# Visualization
plotly
folium
streamlit-folium

# Geospatial
geopandas==0.14.1
shapely
pyproj
fiona

# Machine Learning
scikit-learn
joblib

# AI / LLM
openai

# Image
Pillow